<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	<meta name="description" content="">
    	<meta name="author" content="Luis del Moral Martínez">
		<meta charset="ISO-8859-1">
		<title>AppGestion</title>
		<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/starter-template.css" rel="stylesheet">
	</head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      
      <a class="navbar-brand" href="/index"><img src="/img/home.png"/>AppGestion</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/employee/list"><img width="16px" src="/img/person.png"/>&nbsp;Empleados</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/product/list"><img width="16px" src="/img/product.png"/>&nbsp;Productos</a>
          </li>
          <!--
          <li class="nav-item">
            <a class="nav-link" href="#"><img width="16px" src="/img/product.png"/>&nbsp;Inventario</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><img width="16px" src="/img/product.png"/>&nbsp;Clientes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><img width="16px" src="/img/product.png"/>&nbsp;Proveedores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><img width="16px" src="/img/product.png"/>&nbsp;Acerca de</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><img width="16px" src="/img/product.png"/>&nbsp;Salir</a>
          </li>
          -->
        </ul>
      </div>
    </nav>

    <div class="container">

    </div>
    
    <script src="/webjars/jquery/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>